@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-image: url("./Pictures/guns-bN5JPdkjJaw-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.backg_blur {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
}
.container {
  position: relative;
  top: 60px;
  left: 640px;
  transform: translate(-50px, 50px);
  width: 500px;
  height: 500px;
  background: rgba(3, 3, 3, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(149, 224, 192, 0.13);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}
h1 {
  color: white;
  text-align: center;
  position: relative;
  top: 70px;
  font-size: 2.5rem;
}
/* Btn css */
button {
  --green: #1bfd9c;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: absolute;
  top: 405px;
  left: 48px;
  width: 400px;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(
    to right,
    rgba(27, 253, 156, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(27, 253, 156, 0.1) 100%
  );
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4),
    0 0 9px 3px rgba(27, 253, 156, 0.1);
  cursor: pointer;
}

button:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
    0 0 9px 3px rgba(27, 253, 156, 0.2);
}

button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(27, 253, 156, 0.1) 40%,
    rgba(27, 253, 156, 0.1) 60%,
    transparent 100%
  );
}

button:hover:before {
  transform: translateX(15em);
}

/* email css */

.email {
  position: absolute;
  width: 400px;
  top: 280px;
  left: 48px;
}

.email input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.email span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: white;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.email input:valid ~ span,
.email input:read-only ~ span,
.email input:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.email i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.email input:valid ~ i,
.email input:read-only ~ i,
.email input:focus ~ i {
  height: 44px;
}
p {
  color: white;
  position: relative;
  top: 90px;
  left: 105px;
  font-size: 20px;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: capitalize;
  width: 300px;
}
