* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: white;
}
.bgimg {
  background-image: url(/Project/Pictures/Login_BG.webp);
  background-size: contain;
  background-repeat: no-repeat;
  height: 543px;
  width: 1000px;
  position: absolute;
  left: 601px;
  top: 172px;
}
.container h1 {
  position: relative;
  width: 102px;
  height: 45px;
  left: 97px;
  top: 150px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}
.container img {
  position: relative;
  left: 30px;
  top: -80px;
}
.container h6 {
  position: absolute;
  width: 390px;
  height: 24px;
  left: 97px;
  top: 217px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  word-spacing: 7px;
}

.container #email,
#pass {
  display: block;
  position: relative;
  padding: 24px;
  width: 429px;
  height: 50px;
  left: 97px;
  top: 118px;
  border: none;
  background: transparent;
  border-bottom: 2px solid #000842;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  outline: none;
}
.container label {
  display: block;
  position: relative;
  padding: 0px;
  margin: 8px;
  left: 91px;
  top: 145px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  color: #999999;
  width: 137px;
}
#email_img,
#pass_img {
  position: relative;
  top: 155px;
  left: 101px;
}
#forg_pass_link {
  position: relative;
  top: 67px;
  left: 400px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  color: #999999;
  text-decoration: none;
}
#Signin_btn {
  position: absolute;
  width: 429px;
  height: 53px;
  left: 97px;
  top: 595px;
  background: #0c21c1;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #ffffff;
}
#remeberme {
  position: relative;
  top: 124px;
  left: 97px;
}
#Rememebr_me {
  position: relative;
  top: 96px;
  left: 110px;
}
#lock {
  list-style: none;
  cursor: pointer;
  position: absolute;
  left: 494px;
  top: 480px;
}

#unlock {
  list-style: none;
  cursor: pointer;
  position: absolute;
  opacity: 0%;
  left: 494px;
  top: 480px;
}
