.main h1 {
  padding-left: 70px;
  padding-top: 20px;
}
.Main_Content {
  width: 72vw;
  height: 85vh;
  background: rgba(28, 27, 27, 0.74);
  border-radius: 16px;
  box-shadow: 0 5px 32px rgb(0 0 0 / 10%);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgb(206, 217, 239, 0.3);
  position: absolute;
  left: 400px;
  top: 11%;
}

/* name css */

.Name {
  position: absolute;
  width: 330px;
  top: 20px;
  left: 45px;
}

.Name input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.Name span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.Name input:valid ~ span,
.Name input:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.Name i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.Name input:valid ~ i,
.Name input:focus ~ i {
  height: 44px;
}

/* email css */

.email {
  position: absolute;
  width: 400px;
  top: 20px;
  left: 395px;
}

.email input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.email span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.email input:valid ~ span,
.email input:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.email i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.email input:valid ~ i,
.email input:focus ~ i {
  height: 44px;
}

/* password css */

.password {
  position: absolute;
  width: 330px;
  top: 20px;
  left: 815px;
}

.password input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.password span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.password input:valid ~ span,
.password input:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.password i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.password input:valid ~ i,
.password input:focus ~ i {
  height: 44px;
}

/* contact css */

.contact {
  position: absolute;
  width: 330px;
  top: 96px;
  left: 45px;
}

.contact input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.contact span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.contact input:valid ~ span,
.contact input:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.contact i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.contact input:valid ~ i,
.contact input:focus ~ i {
  height: 44px;
}

/* DOB css */

.Dob {
  position: absolute;
  width: 330px;
  top: 96px;
  left: 429px;
}

.Dob input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.Dob span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.Dob input:valid ~ span,
.Dob input:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.Dob i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.Dob input:valid ~ i,
.Dob input:focus ~ i {
  height: 44px;
}

/* Doj css */

.Doj {
  position: absolute;
  width: 330px;
  top: 96px;
  left: 815px;
}

.Doj input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.Doj span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.Doj input:valid ~ span,
.Doj input:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.Doj i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.Doj input:valid ~ i,
.Doj input:focus ~ i {
  height: 44px;
}

/* gendercmb css */

.Gender {
  position: absolute;
  width: 330px;
  top: 172px;
  left: 45px;
}

.Gender select {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.Gender span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.Gender select:valid ~ span,
.Gender select:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.Gender i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.Gender select:valid ~ i,
.Gender select:focus ~ i {
  height: 44px;
}

/* state css */

.State {
  position: absolute;
  width: 330px;
  top: 172px;
  left: 429px;
}

.State select {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.State span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.State select:valid ~ span,
.State select:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.State i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.State select:valid ~ i,
.State select:focus ~ i {
  height: 44px;
}

/* city css */
.City {
  position: absolute;
  width: 330px;
  top: 172px;
  left: 815px;
}

.City select {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.City span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.City select:valid ~ span,
.City select:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.City i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.City select:valid ~ i,
.City select:focus ~ i {
  height: 44px;
}

/* area css */
.Area {
  position: absolute;
  width: 330px;
  top: 243px;
  left: 45px;
}

.Area select {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.Area span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.Area select:valid ~ span,
.Area select:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.Area i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.Area select:valid ~ i,
.Area select:focus ~ i {
  height: 44px;
}

/* Role css */
.Role {
  position: absolute;
  width: 330px;
  top: 243px;
  left: 428px;
}

.Role select {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.Role span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.Role select:valid ~ span,
.Role select:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.Role i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.Role select:valid ~ i,
.Role select:focus ~ i {
  height: 44px;
}

/* Deprt css */

.Dept {
  position: absolute;
  width: 330px;
  top: 243px;
  left: 815px;
}

.Dept select {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.Dept span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.Dept select:valid ~ span,
.Dept select:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.Dept i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.Dept select:valid ~ i,
.Dept select:focus ~ i {
  height: 44px;
}

/* desig css */

.Desig {
  position: absolute;
  width: 330px;
  top: 317px;
  left: 45px;
}

.Desig select {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.Desig span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.Desig select:valid ~ span,
.Desig select:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.Desig i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.Desig select:valid ~ i,
.Desig select:focus ~ i {
  height: 44px;
}

/* University css */

.University {
  position: absolute;
  width: 330px;
  top: 317px;
  left: 428px;
}

.University select {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.University span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.University select:valid ~ span,
.University select:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.University i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.University select:valid ~ i,
.University select:focus ~ i {
  height: 44px;
}
/* College css */

.College {
  position: absolute;
  width: 330px;
  top: 317px;
  left: 815px;
}

.College select {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.College span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.College select:valid ~ span,
.College select:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.College i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.College select:valid ~ i,
.College select:focus ~ i {
  height: 44px;
}
/* Degree css */

.Degree {
  position: absolute;
  width: 330px;
  top: 387px;
  left: 45px;
}

.Degree select {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.Degree span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.Degree select:valid ~ span,
.Degree select:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.Degree i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.Degree select:valid ~ i,
.Degree select:focus ~ i {
  height: 44px;
}

/* Btn css */
#Register_Form button {
  --green: #1bfd9c;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: absolute;
  top: 489px;
  left: 50px;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(
    to right,
    rgba(27, 253, 156, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(27, 253, 156, 0.1) 100%
  );
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4),
    0 0 9px 3px rgba(27, 253, 156, 0.1);
  cursor: pointer;
}

#Register_Form button:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
    0 0 9px 3px rgba(27, 253, 156, 0.2);
}

#Register_Form button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(27, 253, 156, 0.1) 40%,
    rgba(27, 253, 156, 0.1) 60%,
    transparent 100%
  );
}

#Register_Form button:hover:before {
  transform: translateX(15em);
}

/* file upload */
.File {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 5px;
  position: absolute;
  top: 380px;
  left: 420px;
}

label {
  font-weight: 300;
  display: block;
  margin-bottom: 10px;
  color: white;
  opacity: 70%;
  font-family: "Poppins", sans-serif;
}

.inpdddut {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #45ffc7;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
/* Salary css */

.Salary {
  position: absolute;
  width: 330px;
  top: 387px;
  left: 815px;
}

.Salary input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.Salary span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.Salary input:valid ~ span,
.Salary input:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.Salary i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.Salary input:valid ~ i,
.Salary input:focus ~ i {
  height: 44px;
}
