.main h1 {
  padding-top: 20px;
  padding-left: 80px;
}
.Main_Content {
  width: 72vw;
  height: 45vh;
  background: rgba(28, 27, 27, 0.74);
  border-radius: 16px;
  box-shadow: 0 5px 32px rgb(0 0 0 / 10%);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgb(206, 217, 239, 0.3);
  position: absolute;
  left: 400px;
  top: 11%;
}
.table_view {
  position: absolute;
  border: 1px solid rgb(206, 217, 239, 0.3);
  top: 460px;
  left: 400px;
  width: 72vw;
  height: 38vh;
  overflow-y: auto;
  border-radius: 25px;
}
.ls_date {
  position: absolute;
  width: 330px;
  top: 25px;
  left: 72px;
  z-index: 2;
}

.ls_date input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.ls_date span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.ls_date input:valid ~ span,
.ls_date input:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.ls_date i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.ls_date input:valid ~ i,
.ls_date input:focus ~ i {
  height: 44px;
}

.EndDate {
  position: absolute;
  width: 330px;
  top: 25px;
  left: 425px;
  z-index: 2;
}

.EndDate input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.EndDate span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.EndDate input:valid ~ span,
.EndDate input:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.EndDate i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.EndDate input:valid ~ i,
.EndDate input:focus ~ i {
  height: 44px;
}

.LType {
  position: absolute;
  width: 330px;
  top: 25px;
  left: 778px;
  z-index: 2;
}

.LType select {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.LType span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.LType select:valid ~ span,
.LType select:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.LType i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.LType select:valid ~ i,
.LType select:focus ~ i {
  height: 44px;
}

/* .LeaveReason */
.LeaveReason {
  position: absolute;
  width: 330px;
  top: 110px;
  left: 72px;
  z-index: 2;
}

.LeaveReason textarea {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
  resize: none;
  height: 190px;
}

.LeaveReason span {
  position: absolute;
  left: 0;
  top: 130px;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.7s;
  pointer-events: none;
}

.LeaveReason textarea:valid ~ span,
.LeaveReason textarea:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-163px);
  font-size: 0, 75em;
}

.LeaveReason i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.7s;
  pointer-events: none;
  z-index: 9;
}

.LeaveReason textarea:valid ~ i,
.LeaveReason textarea:focus ~ i {
  height: 180px;
}
/* Btn css */
#Register_Form button {
  top: 199px;
  left: 473px;
}

.table_view::-webkit-scrollbar {
  border-radius: 8px;
  width: 5px;
  background: rgba(28, 27, 27, 0.54);
  scroll-behavior: smooth;
}
.table_view::-webkit-scrollbar-thumb {
  background-color: #3ffcbdaa;
  border: 1px solid rgba(39, 33, 33, 0.496);
  border-radius: 50px;
}
.table_view table {
  border-collapse: collapse;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background: rgba(28, 27, 27, 0.54);
  border-radius: 16px;
  box-shadow: 0 5px 32px rgb(0 0 0 / 10%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.table_view th,
td {
  text-align: center;
  padding: 20px;
  color: #ffffff;
}
.table_view td {
  border-bottom: 0.1px solid rgba(229, 226, 226, 0.5);
}
.table_view th {
  font-size: 19px;
  background-color: #3ffcbdaa;
  color: white;
}
table #Delbtn {
  width: 70px;
  height: 30px;
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(211, 21, 21);
  font-weight: 700;
  border-radius: 10%;
  font-style: normal;
}
table #Updbtn {
  width: 70px;
  height: 30px;
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(211, 129, 21);
  font-weight: 700;
  border-radius: 10%;
  font-style: normal;
}

/* .RejectReason */
.RejectReason {
  position: absolute;
  width: 670px;
  top: 140px;
  left: 55px;
}

.RejectReason textarea {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
  resize: none;
  height: 190px;
}

.RejectReason span {
  position: absolute;
  left: 0;
  top: 130px;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.7s;
  pointer-events: none;
}

.RejectReason textarea:valid ~ span,
.RejectReason textarea:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-163px);
  font-size: 0, 75em;
}

.RejectReason i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.7s;
  pointer-events: none;
  z-index: 9;
}

.RejectReason textarea:valid ~ i,
.RejectReason textarea:focus ~ i {
  height: 180px;
}

/* .status */
.Status {
  position: absolute;
  width: 670px;
  top: 70px;
  left: 55px;
}

.Status select {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.Status span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.Status select:valid ~ span,
.Status select:focus ~ span {
  color: #45ffc7;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.Status i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ffc7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.Status select:valid ~ i,
.Status select:focus ~ i {
  height: 44px;
}

#done {
  width: 100px;
  height: 40px;
  position: absolute;
  right: 200px;
  bottom: 20px;
  background-color: #45ffc7;
  font-weight: 600;
  font-size: larger;
  border-radius: 8px;
}
#cancel {
  width: 100px;
  height: 40px;
  position: absolute;
  right: 80px;
  bottom: 20px;
  background-color: #fc3f3f97;
  font-weight: 600;
  font-size: larger;
  border-radius: 8px;
  text-align: center;
  padding-top: 5px;
  text-decoration: none;
  color: #000000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.PopupMenu {
  width: 790px;
  height: 414px;
  background: rgba(12, 12, 12, 0.74);
  border-radius: 16px;
  box-shadow: 0 5px 32px rgb(0 0 0 / 10%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgb(206, 217, 239, 0.3);
  position: fixed;
  top: 20px;
  left: 575px;
  display: none;
  z-index: 1000;
}
.PopupMenu.show3 {
  display: block;
}

.PopupMenu p {
  color: white;
  font-size: 30px;
  font-weight: 500;
  position: relative;
  top: 15px;
  left: 40px;
  z-index: 20;
}
